:root {
    --bg-white : #fffef8;
    --font-red : #e3003e;
    --font-red_hover : #e35b7f;
    --darkBlue: #1a0274;
}

@font-face {
  font-family: 'Avenir';
  src: url('./public/fonts/avenir.ttc') format('truetype-collection');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./public/fonts/avenir.ttc') format('truetype-collection');
  font-display: swap;
  font-weight: bold;
  font-style: multiple;
}

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir', sans-serif;
    background-color: var(--bg-white);
}

#app {
    margin: 2rem;
}

/*NAVBAR*/
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 1rem 2rem;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-white);
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: var(--font-red);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/*li a:hover {
    background-color: var(--darkBlue);
}*/

li.bio img, li.botiga img {
    height: 60px;
}

li.bio {
    float: left;
}

li.botiga {
    float: right;
}

.center {
    text-align: center; 
}

.logo {
    display: block;
    justify-items: center;
}

.logo img {
    height: 50px;
}
  
/*FOOTER sociau*/
footer {
  margin-top: auto;
  padding: 15px;
}

.footer {
    justify-content: center;
    display: flex
}