:root {
    --bg-white : #fffef8;
    --font-red : #e3003e;
    --font-red_hover : #e35b7f;
    --darkBlue: #1a0274;
}
@font-face {
    font-family: 'Avenir';
    src: url('./public/fonts/Avenir-Light-07.woff2') format('woff2'),
        url('./public/fonts/Avenir-Light-07.woff') format('woff'),
        url('./public/fonts/Avenir-Light-07.ttf') format('truetype');
    font-weight: 300; /* ou light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('./public/fonts/Avenir-Medium-09.woff2') format('woff2'),
        url('./public/fonts/Avenir-Medium-09.woff') format('woff'),
        url('./public/fonts/Avenir-Medium-09.ttf') format('truetype');
    font-weight: 500; /* ou medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('./public/fonts/Avenir-Heavy-05.woff2') format('woff2'),
        url('./public/fonts/Avenir-Heavy-05.woff') format('woff'),
        url('./public/fonts/Avenir-Heavy-05.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;  
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('./public/fonts/Avenir-Black-03.woff2') format('woff2'),
        url('./public/fonts/Avenir-Black-03.woff') format('woff'),
        url('./public/fonts/Avenir-Black-03.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    background-color: var(--bg-white);
}

#app { /*all that is not in index: all without navbar and footer*/
    margin: 2rem 15%;
}

/* Redéfinir les tags html*/
.page h1 {
    font-size: 2.25rem;/* 36px */
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
} 
.page p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #374151;
    text-align: justify;
    text-justify: inter-character;
}

/*NAVBAR*/
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul {
    overflow: hidden;
}

li {
    display: inline-block;
}

.center {
    text-align: center;
    padding-top: 2dvh;
    background-color: var(--bg-white);
}

.center li a, .menu li a {
    display: block;
    color: var(--font-red);
    text-align: center;
    padding: 0 2vw;
    text-decoration: none;
}

.menu li a {
    padding: 0.5dvh 2vw;
    font-weight: 500;
}

li.logo a, li.bio a, li.botiga a{
    padding-bottom: 0;
}
  
.menu li a:hover {
    /*background-color: var(--darkBlue);*/
    color: var(--font-red_hover);
}

li.botiga a, li.bio a {
    margin: 0 3vw;
}

/*li.bio a {
    margin-left: 3vw;
}

li.botiga a {
    margin-right: 3vw;
}*/

li.bio img, li.botiga img {
    height: 60px;
}

li.bio {
    float: left;
}

li.botiga {
    float: right;
}

.logo {
    justify-items: center;
}

.logo img {
    height: 60px;
}
  
/*FOOTER sociau*/
footer {
  margin-top: auto;
  padding: 15px;
}

.footer {
    justify-content: center;
    display: flex;
}

div.footer img {
    max-height: 3rem;
}

div.footer a {
    max-height: 3rem;
}

#spotify img:nth-child(2),
#apple img:nth-child(2),
#youTube img:nth-child(2),
#instagram img:nth-child(2),
#tikTok img:nth-child(2) {
  display: none; 
}

#spotify:hover img:nth-child(1), 
#apple:hover img:nth-child(1), 
#youTube:hover img:nth-child(1), 
#instagram:hover img:nth-child(1), 
#tikTok:hover img:nth-child(1) {
  display: none;
}

#spotify:hover img:nth-child(2),
#apple:hover img:nth-child(2), 
#youTube:hover img:nth-child(2), 
#instagram:hover img:nth-child(2),
#tikTok:hover img:nth-child(2)  {
  display: block;
}